* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "font";
  font-weight: bold;
}

@font-face {
  font-family: "font";
  src: url(../Roboto-Light.ttf);
}
.container {
  width: 85%;
  margin: auto;
}

button {
  cursor: pointer;
}

.header {
  height: 80px;
  background-color: white;
  position: sticky;
  left: 0;
  top: 0;
}
.header__nav {
  height: 100%;
}
.header__nav .box {
  width: 80%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .box .login {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 42px;
}
.header__item {
  position: relative;
}
.header__item::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: aqua;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.4s;
}
.header__item:hover::after {
  width: 100%;
}
.header__link {
  color: #2B2C4F;
  transition: 0.3s;
  font-weight: bold;
}
.header__link:hover {
  color: aqua;
}
.header__signin {
  color: #2B2C4F;
}
.header__btn {
  padding: 12px 25px;
  border-radius: 100px;
  border: none;
  background-color: #164038;
  color: #E1FFA0;
  transition: 0.3s;
}
.header__btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
}

.hero {
  background-image: url(../images/hero.jpg);
  height: 845px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__box {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.hero__title {
  width: 60%;
  font-size: 64px;
  color: white;
  line-height: 76px;
}
.hero__desc {
  font-size: 18px;
  color: white;
}
.hero__btn {
  padding: 15px 25px;
  border-radius: 100px;
  border: none;
  background-color: #E1FFA0;
  color: #0C2520;
  font-size: 18px;
  transition: 0.3s;
}
.hero__btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
}
.hero__btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero__btn-title {
  color: white;
  font-size: 18px;
}

.xref {
  background-color: #0C2520;
  height: 1100px;
  padding: 100px 0px;
}
.xref__feedback {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.xref__top {
  width: 100%;
  height: 50%;
  display: flex;
}
.xref__top__left {
  width: 50%;
  height: 100%;
  padding-top: 59px;
}
.xref__top__left__desc {
  color: white;
  font-size: 22px;
}
.xref__top__left__title {
  font-size: 44px;
  color: white;
  width: 350px;
  padding: 10px 0px;
}
.xref__top__right {
  width: 50%;
  height: 100%;
  margin-top: 59px;
}
.xref__top__right__title {
  font-size: 22px;
  color: #E1FFA0;
}
.xref__top__right__desc {
  font-size: 18px;
  color: white;
  padding: 16px 0px 29px 0px;
}
.xref__bottom {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
}
.xref__card {
  height: 430px;
  background-color: #164038;
  padding: 32px 10px 10px 32px;
  border-radius: 4px;
}
.xref__card__name {
  margin-top: 100px;
  font-size: 22px;
  color: white;
}