.hero{
    background-image: url(../images/hero.jpg);
    height: 845px;
    background-repeat: no-repeat;
    background-size: cover;
    &__box{
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    &__title{
        width: 60%;
        font-size: 64px;
        color: white;
        line-height: 76px;
    }
    &__desc{
        font-size: 18px;
        color: white;
    }
    &__btn{
        padding: 15px 25px;
        border-radius: 100px;
        border: none;
        background-color: #E1FFA0;
        color: #0C2520;
        font-size: 18px;
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
            box-shadow: 5px 5px 10px gray;
        }
    }
    &__btns{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__btn-title{
        color: white;
        font-size: 18px;
    }
}