*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "font";
    font-weight: bold;
}
@font-face {
    font-family: "font";
    src: url(../Roboto-Light.ttf);
}
.container{
    width: 85%;
    margin: auto;
}
button{
    cursor: pointer;
}