.xref{
    background-color: #0C2520;
    height: 1100px;
    padding: 100px 0px;
    &__feedback{
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    &__top{
        width: 100%;
        height: 50%;
        // background-color: red;
        display: flex;
        &__left{
            width: 50%;
            height: 100%;
            padding-top: 59px;
            &__desc{
                color: white;
                font-size: 22px;
            }
            &__title{
                font-size: 44px;
                color: white;
                width: 350px;
                padding: 10px 0px;
            }
        }
        &__right{
            width: 50%;
            height: 100%;
            margin-top: 59px;
            &__title{
                font-size: 22px;
                color: #E1FFA0;
            }
            &__desc{
                font-size: 18px;
                color: white;
                padding: 16px 0px 29px 0px;
            }
        }
    }
    &__bottom{
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
        
    }
    &__card{
        height: 430px;
        background-color: #164038;
        padding: 32px 10px 10px 32px;
        border-radius: 4px;
        &__name{
            margin-top: 100px;
            font-size: 22px;
            color: white;
        }
        
    }
}